.reviews{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}
@media only screen and (max-width:688px) {
    .reviews{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (min-width:688px) and (max-width:991px) {
    .reviews{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (min-width:992px) and (max-width:1180px) {
    .reviews{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       
    }
}